@import "./../../../../../variables.scss";

.upvote-button {
  background-color: white !important;
  border: 1px solid darkgray;
  transition: 0.3s;
  .icon {
    font-size: 1.4rem;
  }
}

.upvote-button.upvoted {
  transform: scale(1.1);
  cursor: default !important;
}
.vote-count {
  text-align: center;
  span {
    font-size: 0.8rem;
    font-weight: 700;
  }
}
