<button
  mat-fab
  class="upvote-button"
  [class.upvoted]="isUpvoted"
  (click)="upvote()"
  [disabled]="isUpvoted"
>
  <span class="icon">👌</span><br />
</button>
<br>
<div class="vote-count"><span>{{ voteCount }}</span></div>
