@import "./../../../../../variables.scss";

.card {
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-height: 400px;
  .main-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    .main-image {
      width: 100%;
      object-fit: cover;
      height: 200px;
    }
  }

  .title {
    position: absolute;
    z-index: 1;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.21rem;
    text-align: center;
    width: 70%;
  }

  .title > span {
    text-decoration: underline;
    text-decoration-color: transparent;
    -webkit-text-decoration-color: transparent;
    -moz-text-decoration-color: transparent;
    transition: 0.2s;
  }

  .title > span:hover {
    text-decoration-color: white;
    -webkit-text-decoration-color: white;
    -moz-text-decoration-color: white;
  }

  @media (min-width: 768px) {
    .title {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 768px) and (min-width: 425px) {
    .title {
      font-size: 2rem;
    }
  }

  @media (max-width: 425px) {
    .title {
      font-size: 1.75rem;
    }
  }


  .subcontent {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    .subtitle {
      margin-top: 1rem;
      max-height: 150px;
      text-overflow: ellipsis;
      display: inline-block;
      overflow: hidden;
      color: $subtitles-color;
      font-style: italic;
      font-size: 1rem;
      letter-spacing: -0.01rem;
    }

    .subbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-style: italic;
      color: $subtitles-color;
      font-size: 0.75rem;
    }
  }
}
