<h2 mat-dialog-title>Dodaj nowy tag</h2>
<div mat-dialog-content style="overflow: hidden">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Nazwa" [(ngModel)]="name" />
  </mat-form-field>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Zamknij</button>
  <button mat-button [mat-dialog-close]="name">Zapisz</button>
</mat-dialog-actions>
