<div class="login-container" (submit)="tryLogin()">
  <div class="loginbox">
    <form [formGroup]="login">
      <img src="assets/img/logo.png" />
      <mat-form-field>
        <input
          matInput
          formControlName="token"
          type="password"
          placeholder=""
        />
      </mat-form-field>
      <button mat-button class="login-button">
        <span *ngIf="isLoading; else loginLabel">
          <mat-spinner [diameter]="36"></mat-spinner>
        </span>
        <ng-template #loginLabel> Login </ng-template>
      </button>
    </form>
  </div>
</div>
