.login-container{
    height: 100vh;
    width: 100vw;
    background-color: white
}

.loginbox{
    background-color: hsl(0, 0, 100);
    position: absolute;
    padding-right: 5rem;
    padding-left: 5rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    form{
        display: flex;
        flex-direction: column;
    }

    button {
        display: flex;
        justify-content: center;
    }
}