<mat-card class="post">
  <div class="image"><img [src]="post.mainImageThumbnailPath" /></div>
  <mat-card-content class="content">
    <mat-card-title>{{ post.title }}</mat-card-title>

    <mat-card-subtitle>{{ post.subtitle }}</mat-card-subtitle>
    <mat-card-subtitle
      >tagi:
      <span *ngFor="let tag of post.tags">
        {{ tag.name }}</span
      ></mat-card-subtitle
    >
    <mat-card-subtitle
      >data publikacji
      {{ post.publishDate | date: "medium" }}</mat-card-subtitle
    >
    <mat-card-footer>
      <mat-card-actions class="actions">
        <button mat-button (click)="onEdit()">Edytuj</button>
        <button mat-button color="warn" (click)="onDelete()">Usuń</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card-content>
</mat-card>
