.post {
  margin-bottom: 1rem;
  display: flex;
  .image {
    margin-right: 0.5rem;
    img {
      object-fit: cover;
      width: 140px;
      height: 140px;
    }
  }
  .content {
    flex-grow: 1;
    .actions {
      margin-right: 0.5rem;
      float: right;
    }
  }
}
