<div class="content center-horizontal">
  <div
    infiniteScroll
    [infiniteScrollDistance]="0.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <blog-post *ngFor="let post of posts" [post]="post" (delete)="onDelete(post.id)" (edit)="onEdit(post.id)"></blog-post>
  </div>
</div>