<mat-list>
  <ng-container *ngIf="(ranking$ | async) as ranking">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Most popular posts </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <button
          *ngFor="let popularPost of ranking.mostPopularPosts"
          mat-list-item
        >
          {{ popularPost.title }}
        </button>
      </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Highest rated posts </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <button
          *ngFor="let bestRatedPost of ranking.bestRatedPosts"
          mat-list-item
        >
          {{ bestRatedPost.title }}
        </button>
      </mat-action-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Most popular tags </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-action-list>
        <button
          *ngFor="let mostPopularTag of ranking.mostPopularTags"
          mat-list-item
        >
          {{ mostPopularTag.name }}
        </button>
      </mat-action-list>
    </mat-expansion-panel>
  </ng-container>
</mat-list>
