<div>
  <mat-form-field class="hours">
    <input
      matInput
      type="number"
      placeholder="HH"
      min="00"
      max="23"
      [formControl]="hours"
    />
  </mat-form-field>
  <mat-form-field class="minutes">
    <input
      matInput
      type="number"
      placeholder="MM"
      min="00"
      max="59"
      [formControl]="minutes"
    />
  </mat-form-field>
</div>
