<div class="drawer">
  <header class="header">
    <img src="assets/img/logo.png" alt="logo" />
    <app-hamburger-button
      id="hamburger"
      (switch)="closeDrawer()"
      [drawerOpen]="isDrawerOpen$ | async"
      aria-label="hamburger menu close"
    ></app-hamburger-button>
  </header>
  <main class="menu-items">
    <!--
      <mat-nav-list style="width: 100%">
        <a
          mat-list-item
          class="cursor-pointer"
          (click)="closeDrawer()"
          *ngFor="let link of links"
          [routerLink]="link.routerLink"
          >{{ link.label }}</a
        >
      </mat-nav-list>
    -->
    <div style="width: 100%"><blog-rankings></blog-rankings></div>
  </main>
  <footer class="footer">
    <div class="outer">
      <div class="inner">
        <img alt="it's me :)" src="assets/img/me.jpg" class="author-pic" />
        <p>yup that's me</p>
      </div>
    </div>
  </footer>
</div>
