<div *ngFor="let tag of tags" class="tag">
  <mat-card class="tag-container">
    {{ tag.name }}
    <button mat-icon-button color="warn"  (click)="deleteClicked(tag.id)">
      <mat-icon aria-label="delete">remove_circle_outline</mat-icon>
    </button>
  </mat-card>
</div>
