<div class="container">
  <div
    infiniteScroll
    [infiniteScrollDistance]="0.5"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
  >
    <span *ngFor="let post of posts; trackBy: trackPost; let i = index">
      <app-post class="card" [post]="post"></app-post>
      <blog-adsense *ngIf="i > 0 && i % 5 === 0"></blog-adsense>
    </span>
  </div>
</div>

<!-- blur filter -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg">
  <filter id="sharpBlur">
    <feGaussianBlur stdDeviation="3"></feGaussianBlur>
    <feComposite in2="SourceGraphic" operator="in"></feComposite>
  </filter>
</svg>

<!-- /blur filter -->
