.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .menu-pill {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  div{
    display: flex;
    align-items: center;
  }

}
