<mat-toolbar class="menu" color="primary">
  <div>
    <span [routerLink]="['/admin']" class="cursor-pointer">Admin</span>
    <button *ngFor="let entry of entries" class="menu-pill" mat-button (click)="entry.action()" [disabled]="entry.disabled">
      {{ entry.label }}
    </button>
  </div>
  <div>
    <mat-icon (click)="logout()" class="cursor-pointer">lock</mat-icon>
    <mat-icon [routerLink]="['/']" class="cursor-pointer">home</mat-icon>
  </div>
</mat-toolbar>