/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "variables.scss";

body {
  font-family: "Helvetica";
  background-color: $background-color;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

body [class^="mat-"]:not(mat-icon),
body [class*="mat-"]:not(mat-icon) {
  font-family: "Helvetica";
}

.center-vertical {
  margin-top: auto;
  margin-bottom: auto;
}

.center-horizontal-flex {
  display: flex;
  justify-content: center;
}

.center-horizontal {
  margin-left: auto;
  margin-right: auto;
}

.align-center {
  align-items: center;
}

.cursor-pointer {
  cursor: pointer !important;
}

.spinner {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.text-right {
  text-align: right;
}

a {
  color: $accent-color;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  filter: brightness(0.7);
}

// ::-webkit-scrollbar {
//   width: 5px;
// }

// ::-webkit-scrollbar-thumb {
//   background-color: $accent-color;
//   border-radius: 3px;
// }

.mat-drawer-content {
  overflow: visible !important;
}

.display-flex {
  display: flex;
}

.commento-root {
  .commento-create-button {
    background-color: $accent-color !important;
  }
  .commento-login-button {
    width: 50px;
    background: $primary-color !important;
  }
}

.mat-icon:hover{
  color: hsl(0, 0%, 75%);
}
