$background-color: #fff;

$secondary-text-color: hsla(220°, 5%, 76%, 1);

$secondary-text-color-hover: hsla(220°, 5%, 60%, 1);

$primary-color: rgb(40, 53, 157);

$accent-color: #ff4081;

$subtitles-color: rgba(69, 69, 69, 0.69);

$header-color: rgba(255, 255, 255, 0.8);
