@import "./../../../../variables.scss";

.post-head {
  align-content: center;

  .main-image {
    margin-top: 1.5rem;
    height: 21.875rem;
    width: 100%;
    object-fit: cover;
  }

  .title {
    margin-top: 0.75rem;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: -0.21rem;
    font-weight: 800;
  }

  @media (min-width: 768px) {
    .title {
      font-size: 3rem;
    }
  }

  @media (max-width: 768px) and (min-width: 425px) {
    .title {
      font-size: 2.5rem;
    }
  }

  @media (max-width: 425px) {
    .title {
      font-size: 2.2rem;
    }
  }

  .subtitle {
    margin-bottom: 0.75rem;
    letter-spacing: -0.0625rem;
    font-weight: 100;
    font-size: 1.2rem;
    color: $subtitles-color;
    text-transform: uppercase;
  }
}
.detail-screen {
  margin-top: 3rem;
  font-size: 1.1rem;
  ::ng-deep p {
    line-height: 1.4;
  }

  .tags {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
  }
}

.floating-upvote-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 40px;
  right: 40px;

  .share-button {
    padding: 5px;
  }
}
