<div class="spinner" *ngIf="(isLoading$ | async)">
  <app-spinner></app-spinner>
</div>
<div *ngIf="(post$ | async) as post">
  <div class="post-head">
    <div class="title">
      <span>{{ post.title }}</span>
    </div>
    <div class="subtitle">
      <span>{{ post.subtitle }}</span>
    </div>
    <img class="main-image" [alt]="post.title" [src]="post.mainImagePath" />
  </div>
  <div class="detail-screen">
    <blog-post-detail-screen
      *ngIf="!(isLoading$ | async)"
      [text]="post.body"
    ></blog-post-detail-screen>
    <div class="tags">
      <blog-post-chips [tags]="post.tags"></blog-post-chips>
    </div>
    <div class="comments"><ngx-commento></ngx-commento></div>
  </div>
  <div class="floating-upvote-button">
    <blog-upvote-button
      [isUpvoted]="isUpvoted"
      [voteCount]="post.score"
      (upvoted)="upvote()"
    ></blog-upvote-button>
  </div>
</div>
