<form [formGroup]="form" (submit)="submit()">
  <mat-horizontal-stepper formArrayName="steps" linear>
    <!-- step1 -->
    <mat-step formGroupName="0" stepControl="steps.get([0])" label="Tytuł">
      <div class="step1">
        <div class="display-flex">
          <div class="left-content">
            <mat-form-field class="text-input">
              <input
                matInput
                type="text"
                formControlName="title"
                placeholder="Tytuł"
              />
            </mat-form-field>
            <mat-form-field class="text-input">
              <textarea
                matInput
                formControlName="subtitle"
                matTextareaAutosize
                matAutosizeMaxRows="10"
                matAutosizeMinRows="10"
                placeholder="Opis"
              ></textarea>
            </mat-form-field>
            <mat-form-field class="text-input">
              <mat-select
                placeholder="Tagi"
                [formControl]="form.get('steps.0.tags')"
                multiple
              >
                <mat-option *ngFor="let tag of tags" [value]="tag">{{
                  tag.name
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="right-content">
            <mat-form-field class="text-input">
              <input
                matInput
                type="text"
                formControlName="image"
                placeholder="Zdjęcie"
              />
            </mat-form-field>
            <div class="image-preview">
              <blog-image-preview
                *ngIf="(imageUrl$ | async) as url"
                [url]="url"
              ></blog-image-preview>
            </div>
          </div>
        </div>
      </div>
    </mat-step>
    <!-- /step1 -->

    <!-- step2 -->
    <mat-step formGroupName="1" stepControl="steps.get([1])" label="Zawartość">
      <div class="step2">
        <div class="half input">
          <mat-form-field class="text-input">
            <textarea
              matInput
              placeholder="Zawartość posta"
              matTextareaAutosize
              formControlName="input"
            ></textarea>
          </mat-form-field>
          <a
            style="float: right;"
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet"
            >Pomoc</a
          >
        </div>
        <div class="half output">
          <app-markup-screen [text]="contentText | async"></app-markup-screen>
        </div>
      </div>
    </mat-step>
    <!-- /step2 -->

    <!-- step3 -->
    <mat-step
      formGroupName="2"
      stepControl="steps.get([2])"
      label="Publikowanie"
    >
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Wybierz date publikacji"
          formControlName="publishDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <blog-timepicker
        [hours]="form.get('steps.2.hours')"
        [minutes]="form.get('steps.2.minutes')"
      ></blog-timepicker>
      <button mat-button type="button" (click)="submit()">Zapisz</button>
    </mat-step>
    <!-- /step3 -->
  </mat-horizontal-stepper>
</form>
