.step1 {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    .left-content {
      width: 69%;
      margin-right: 1%;
    }
    .right-content {
      width: 29%;
      margin-left: 1%;
      .image-preview {
        width: 100%;
      }
    }
  }
  
  .step2 {
    display: flex;
    @media screen and (max-width: 1224px) {
      display: block;
      .half {
        min-width: 100%;
      }
    }
    .input {
      min-width: calc(99% - 1024px);
      margin-right: 1%;
    }
    .output {
      width: 1024px;
      overflow: hidden;
    }
  }
  
  .text-input {
    width: 100%;
  }
  