<div class="content center-horizontal">
  <div>
    <button mat-raised-button (click)="newTag()">
      Dodaj nowy tag
    </button>
  </div>
  <div><blog-tags-list [tags]="tags$ | async" (delete)="delete($event)"></blog-tags-list></div>
  <div class="spinner">
    <app-spinner *ngIf="(isLoading$ | async)"></app-spinner>
  </div>
</div>
